.about{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIyf7dnM0fS4AxxBRjIqXXqhCgg4zs5hdlvQ&usqp=CAU");
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    align-items: center;   
}
